.about {
  background-color: #fff;
  &__container {
    padding: 60px 0;
    background: #e6e6e6;
  }
  &__box-title {
    margin-left: 355px;
    margin-right: 355px;
    @media screen and (max-width: 1680px) {
      margin: 0;
    }
  }
  &__title {
    font-family: "Climate Crisis", cursive;
    @media screen and (max-width: 1680px) {
      text-align: center;
    }
  }

  &__content {
    height: auto;
    margin-left: 355px;
    margin-right: 355px;
    @media screen and (max-width: 1680px) {
      margin: 0;
    }
  }

  &__ref {
    width: 350px;
    margin: 50px;

    @media screen and (max-width: 1350px) {
      width: 200px;
    }
    @media screen and (max-width: 900px) {
      width: 500px;
      margin: 20px;
    }
    @media screen and (max-width: 600px) {
      width: 300px;
      margin: 20px;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: 900px) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__status {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Climate Crisis", cursive;
    color: #4285f4;

    &:after {
      position: absolute;
      content: "";
      width: 50px;
      bottom: -6px;
      height: 2px;
      background-color: #666;
      left: 0;
    }
  }
  &__text {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    @media screen and (max-width: 1400px) {
      font-size: 15px;
      text-align: justify;
    }
  }

  @media screen and (max-width: 900px) {
  }
  @media screen and (max-width: 650px) {
  }
  @media screen and (max-width: 500px) {
  }
}
